body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 935px;
    width: 100%;
    padding: 30px 20px;
}

.profile-header {
    display: flex;
    margin-bottom: 44px;
}

.profile-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #262626;
}

.profile-info {
    flex: 2;
}

.profile-top-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #363636;
    color: white;
    border: none;
    padding: 7px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #262626;
}

.profile-stats {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.highlights {
    display: flex;
    gap: 45px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.highlight-item {
    text-align: center;
    font-size: 12px;
}

.circle {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border: 1px solid #262626;
    padding: 3px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.add-btn {
    font-size: 30px;
    color: #a8a8a8;
}


.empty-feed {
    text-align: center;
    margin-top: 60px;
}

.camera-icon {
    font-size: 60px;
    margin-bottom: 20px;
}