* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

/* Left side styling */
.branding {
    width: 50%;
    padding-right: 32px;
}

.logo {
    height: 60px;
    margin-left: -5px;

}

.branding p {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    color: #1c1e21;
}

/* Right side card styling */
.login-card {
    width: 400px;
    text-align: center;
}

form {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

input {
    height: 52px;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
}

input:focus {
    outline: none;
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.login-btn {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
}

.forgot-password {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    margin: 16px 0;
}

hr {
    border: none;
    border-bottom: 1px solid #dadde1;
    margin-bottom: 20px;
}

.create-account-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 16px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.create-page {
    margin-top: 28px;
    font-size: 14px;
}
